
.WholeAnimationDiv
{
	background-color: #000000;
	left: 0px;
	top: 0px;
	z-index: 0;
	position: relative;
	overflow: hidden;
	width: 100vh;
	height: 100%;
	color: #ffffff;
}

.WholeAnimationDiv canvas
{
	z-index: 0;
	position: absolute;
	color: #ffffff;
}


