
body
{
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}

#container
{
	height: 100%;
	width: 100%;
	font-size: 0;
	display: flex;
}

/*	Header:	*/

.mainReferencesLeft, .mainReferencesMiddle, .mainReferencesRight
{
	overflow: hidden;
	background-color: #333;
	font-size: 16px;
}

.mainReferencesLeft
{
	width: 30%;
}

.mainReferencesMiddle
{
	width: 40%;
	text-align: center;
}

.mainReferencesRight
{
	width: 30%;
}

.mainReferencesLeft button, .mainReferencesRight button
{
	border: 0px solid black;
	background-color: #333;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 16px;
}

.mainReferencesLeft button:hover, .mainReferencesRight button:hover
{
	background-color: #ddd;
	color: black;
}

.mainReferencesLeft button
{
	float: left;
}

.mainReferencesRight button
{
	float: right;
}

/*	End of header:	*/









/*	Main body	*/

.mainBody
{
	background-position: center;
    background-image: url("../media/BGcode-blurred.jpg");
    background-repeat: repeat-y;
	background-size: 100%;
	background-color: #bbbbbb;
	padding: 10px;
	min-height: 88vh;
}

.mainBody table
{
	/*font-family: arial, sans-serif;*/
	border-collapse: collapse;
    background-color: #ffffff;
	width: 100%;
}

.mainBody table td
{
	border: 1px solid #aaaaaa;
	text-align: left;
	padding: 8px;
}

.mainBody table th
{
	border: 1px solid #aaaaaa;
	text-align: left;
	padding: 8px;
}

.mainBody table tr:nth-child(even)
{
    background-color: #dddddd;
}


pre
{
	max-height: 70vh;
	overflow: auto;
}


.PostListElement
{
	text-align: left;
	border: 1px solid black;
	background-color: #cccccc;
	color: #000000;
	padding: 10px;
}

.PostListElement:hover
{
	background-color: #808080;
	color: #ffffff;
	padding: 10px;
}

/*	End of main body	*/









.footerLeft, .footerRight
{
	background-color: #dddddd;
	overflow: hidden;
	font-size: 16px;
	width: 100%;
}

.footerLeft a, .footerRight a
{
	text-align: center;
	text-decoration: none;
	padding: 14px 16px;
}

.footerLeft a:hover
{
	background-color: #404040;
	color: #dddddd;
}

.footerLeft a
{
	float: left;
}

.footerLeft
{
	width: 50%;
}

.footerRight
{
	width: 50%;
}

.footerRight a
{
	float: right;
}
