
.mainReferencesLeft, .mainReferencesMiddle, .mainReferencesRight
{
	overflow: hidden;
	background-color: #333;
	font-size: 16px;
	border-color: #333;
}

.mainReferencesLeft
{
	width: 30%;
}

.mainReferencesMiddle
{
	width: 0%;
	text-align: center;
}

.mainReferencesRight
{
	width: 70%;
}

.mainReferencesLeft button, .mainReferencesRight button
{
	border: 0px solid black;
	background-color: #333;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 16px;
}

.mainReferencesLeft button:hover, .mainReferencesRight button:hover
{
	background-color: #ddd;
	color: black;
}

.mainReferencesLeft button
{
	float: left;
}

.mainReferencesRight button
{
	float: right;
}
