
.MainBody
{
    text-align: justify;
    text-justify: inter-word;
	background-color: rgba( 0, 0, 0, 0 );
	padding: 10px;
	height: 86.0vh;
	overflow: auto;
	background-size: 100%;
	text-align: center;
    margin-left: auto; 
    margin-right: auto;
}

.MainBodyOuter
{
    text-align: justify;
    text-justify: inter-word;
	background-color: rgba( 0, 0, 0, 0 );
	height: 86.0vh;
	overflow: hidden;
	background-size: 100%;
}

.MainBodyTable
{
	border-collapse: collapse;
    background-color: #ffffff;
	width: 70%;
	float: center;
}

.MainBodyTable td
{
	border: 1px solid #aaaaaa;
	text-align: center;
	padding: 8px;
}

.MainBodyTable th
{
	border: 1px solid #aaaaaa;
	text-align: center;
	padding: 8px;
}

.MainBodyTable tr:nth-child(even)
{
    background-color: #dddddd;
}

.TableOfPosts
{
    margin-left: auto; 
    margin-right: auto;
	text-align: center;
	padding: 0px;
	border-collapse: collapse;
    background-color: rgba( 0, 0, 0, 0 );
}

.TableOfPosts tr
{
	border: 0px solid #aaaaaa;
	padding: 0px;
	text-align: center;
	float: center;
}

.JustStandardButton
{
	text-align: left;
	border: 1px solid black;
	background-color: #cccccc;
	color: #000000;
	padding: 10px;
	margin: 5px 5px;
	font-size: 15px;
}

.JustStandardButton:hover
{
	background-color: #808080;
	color: #ffffff;
}

pre
{
	float: center;
	width: 70%;
    background-color: #ffffff;
	max-height: 60vh;
	overflow: auto;
}

#readMainPost
{
    background-color: rgba( 0, 0, 0, 0 );
	left: 0px;
	top: 0px;
	z-index: 1;
}

.Text
{
	font-size: 15px;
	margin: 5px;
}

.PostListStatusButtonCheckboxOn
{
	margin: 5px 0px;
	width: 15px;
	height: 15px;
	border: 1px solid #707070;
	background-color: #aaaaaa;
	position: relative;
}

.PostListStatusButtonCheckboxOff
{
	margin: 5px 0px;
	width: 15px;
	height: 15px;
	border: 1px solid gray;
	background-color: #000000;
	position: relative;
}

.EmptyButton
{
	text-align: left;
	border: 1px solid black;
	background-color: #cccccc;
	color: #000000;
	margin: 5px 5px;
}

.PostListStatusButton
{
	text-align: left;
	border: 1px solid black;
	background-color: #cccccc;
	color: #000000;
	padding: 10px;
	margin: 5px 5px;
	font-size: 15px;
}

.PostListStatusButton:hover
{
	background-color: #808080;
	color: #ffffff;
}

.PostListElement
{
	text-align: left;
	border: 1px solid black;
	background-color: #cccccc;
	color: #000000;
	padding: 10px;
	margin: 20px 15px;
}

.PostListElement:hover
{
	background-color: #808080;
	color: #ffffff;
}
